.navigation__elems-holder, .features-list__elems-holder, .members-list__elems-holder, .our-works__elems-holder {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.navigation__elems-holder li, .features-list__elems-holder li, .members-list__elems-holder li, .our-works__elems-holder li {
  display: inline-block;
  font-size: initial;
}

.header-main:before, .main-logo:before, .our_story:before, .our-works:before, .header-main:after, .main-logo:after, .our_story:after, .our-works:after {
  content: '';
  display: table;
}

.header-main:after, .main-logo:after, .our_story:after, .our-works:after {
  clear: both;
}

html {
  box-sizing: border-box;
}

.html,
.html .body,
.html .body {
  height: 100%;
}

*,
:before,
:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
}

div[class$="logo-holder"],
div[class$="img-holder"] {
  font-size: 0;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  border-bottom: 1px solid;
}

.wrapper {
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  table-layout: fixed;
}

.footer {
  display: table-footer-group;
  height: 1%;
}

.container, .container-dark {
  margin: 0 auto;
}

.gradient {
  display: inline-block;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  word-wrap: break-word;
}

h1, .h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 100;
  color: #25c2ce;
}

@supports (-webkit-background-clip: text) {
  h1, .h1 {
    background: linear-gradient(to right, #00e0d0 0%, #4aa3cc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$logo-gradient-start-color', endColorstr='$logo-gradient-end-color',GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

h2, .h2 {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

h3, .h3 {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-weight: 400;
}

h4, .h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}

h5, .h5 {
  font-family: 'Playfair Display', serif;
  font-size: 11px;
  font-weight: 400;
}

/*unused*/
h6, .h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 400;
}

/*unused*/
p, .p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

a, .a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.container, .container-dark {
  color: #413d4b;
}

.container h3, .container-dark h3, .container .h3, .container-dark .h3 {
  color: #2f2d35;
}

.container-dark {
  color: white;
}

.container-dark h3, .container-dark .h3 {
  color: white;
}

.navigation__link {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
}

.features-list_elem__desc {
  color: #333;
  line-height: 22px;
}

.our-works__link-see-all {
  color: #413d4b;
}

.people-say__quotes-quote {
  font-size: 100px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.9);
}

.people-say__quote {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.85);
}

.people-say__mans-position {
  margin-top: 1.14583%;
  margin-bottom: 0.83333%;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
}

input, .input,
textarea, .textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  max-width: 552px;
  padding: 13px 20px 9px;
  border: 1px solid;
  background: transparent;
}

input:focus::-webkit-input-placeholder, .input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder, .textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-input-placeholder, .input:focus::-moz-input-placeholder,
textarea:focus::-moz-input-placeholder, .textarea:focus::-moz-input-placeholder {
  color: transparent;
}

textarea, .textarea {
  min-height: 200px;
}

.container input, .container-dark input, .container .input, .container-dark .input,
.container textarea, .container-dark textarea, .container .textarea, .container-dark .textarea {
  color: #413d4b;
  border-color: rgba(0, 0, 0, 0.1);
}

.container::-webkit-input-placeholder, .container-dark::-webkit-input-placeholder {
  color: #413d4b;
  opacity: 0.5;
}

.container::-moz-input-placeholder, .container-dark::-moz-input-placeholder {
  color: #413d4b;
  opacity: 0.5;
}

.container-dark input, .container-dark .input,
.container-dark textarea, .container-dark .textarea {
  color: white;
  border-color: rgba(255, 255, 255, 0.5);
}

.container-dark::-webkit-input-placeholder {
  color: white;
  opacity: 0.75;
}

.container-dark::-moz-input-placeholder {
  color: white;
  opacity: 0.75;
}

button, input[type="submit"], .btn {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: initial;
  padding: 14px 14px;
  line-height: 65%;
  border: 1px solid;
  border-radius: 1px;
  text-transform: uppercase;
  color: #00e0d0;
  background: transparent;
}

.wrapper {
  max-width: 1920px;
}

.full-width-container {
  width: 100%;
  display: block;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.full-width-container_bg-1 {
  background-image: url("../images/content/bg-section-1.jpg");
}

.full-width-container_bg-2 {
  background-image: url("../images/content/bg-section-2.jpg");
  background-size: cover;
}

.full-width-container_bg-3 {
  background-image: url("../images/content/bg-section-3.jpg");
  background-size: cover;
}

.full-width-container_bg-4 {
  background-image: url("../images/content/bg-section-4.jpg");
  background-size: cover;
}

.full-width-container_bg-5 {
  background-image: url("../images/content/bg-section-5.jpg");
  background-size: cover;
}

.layer-cover-background {
  width: 100%;
  height: 100%;
  background: #1d1147;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$layer-cover-background-gradient-start-color', endColorstr='$layer-cover-background-gradient-end-color',GradientType=1 );
}

.container, .container-dark {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.section {
  padding: 7.29167% 0;
}

.section > h2 {
  margin-top: 0;
}

.section__text-separator {
  width: 30%;
  max-width: 50px;
  margin-top: 2.1875%;
  border-bottom: 2px solid;
}

div, section, .section, header, .header, main, .main, footer, .footer {
  overflow: visible;
}

.header-main {
  padding-top: 15px;
}

.main-logo {
  float: left;
}

.main-logo__img-holder {
  float: left;
}

.main-logo__text {
  margin-top: 4px;
  margin-left: 11px;
  margin-bottom: 0;
}

.main-navigation-holder {
  float: right;
}

.navigation__elem {
  margin-right: 6px;
}

.navigation__elem:last-child {
  margin-right: 0;
}

.navigation__elem:first-child a {
  padding-left: 0;
}

.navigation__elem:last-child a {
  padding-right: 0;
}

.navigation__link {
  display: block;
  padding: 14px 9px 18px;
}

.primary-swiper-container {
  overflow: hidden;
}

.primary-swiper-wrapper {
  margin-top: 16.979%;
  margin-bottom: 13.229%;
}

.primary-swiper__slide {
  text-align: center;
}

.primary-swiper__separator {
  color: #00e0d0;
  border-bottom-width: 1px;
}

.primary-swiper__text {
  margin-top: 3.125%;
}

.primary-swiper__btn {
  margin-top: 5.208%;
}

.primary-swiper-pagination {
  position: relative;
  margin-bottom: 7.291%;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 3px;
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid #c2c2c2;
  opacity: 1;
}

.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #00e0d0;
  border-color: #00e0d0;
}

.our_story__img-holder {
  float: left;
  margin-right: 10.41667%;
}

.our_story__text {
  margin-top: 16px;
}

.our_story__btn {
  margin-top: 31px;
}

.video-box {
  display: table;
  width: 100%;
  height: 550px;
  max-height: 100vh;
}

.video-box__inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.video-box__play {
  width: 100px;
  height: 100px;
  border: 3px solid white;
  padding: 0;
  border-radius: 50%;
}

.video-box__play-arrow {
  width: 100%;
  height: 100%;
  background-image: url("../images/play-video.png");
  background-size: 37% 45%;
  background-position: 55% 50%;
  background-repeat: no-repeat;
}

.video-box__head {
  font-size: 16px;
}

.features {
  text-align: center;
}

.features__head {
  margin-bottom: 14px;
}

.features__separator {
  border-color: rgba(65, 61, 75, 0.3);
}

.features-list {
  margin-top: 80px;
  overflow: hidden;
}

.features-list__elems-holder {
  margin: -2px -2px;
  overflow: hidden;
}

.features-list__elem {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
}

.features-list__elem-box {
  height: 250px;
  margin: 1px;
  padding: 39px 10px 0;
  box-shadow: 0 0 0px 1px rgba(235, 235, 235, 0.5);
  overflow: auto;
}

.features-list_elem__img-holder {
  max-width: 50px;
  height: 50px;
  margin: 0 auto;
}

.features-list_elem__img-holder_box-1 {
  width: 49px;
}

.features-list_elem__img-holder_box-2 {
  width: 50px;
}

.features-list_elem__img-holder_box-3 {
  width: 28px;
}

.features-list_elem__img-holder_box-4 {
  width: 50px;
}

.features-list_elem__img-holder_box-5 {
  width: 41px;
}

.features-list_elem__img-holder_box-6 {
  width: 50px;
}

.features-list_elem__head {
  margin-top: 31px;
}

.features-list_elem__desc {
  margin-top: 21px;
}

.our-team {
  text-align: center;
}

.our-team__head {
  margin-bottom: 11px;
}

.our-team-separator {
  border-bottom-color: rgba(255, 255, 255, 0.2);
}

.members-list {
  margin-top: 47px;
  overflow: hidden;
}

.members-list__elems-holder {
  margin: 0px -10px;
}

.members-list__elem {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin-bottom: 1px;
}

.members-list__elem-box {
  margin: 0 10px;
}

.members-list__img-holder {
  position: relative;
  padding-bottom: 104.09091%;
  background-color: #f5f5f7;
}

.members-list__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.members-list__text-holder {
  border: 1px solid rgba(225, 225, 225, 0.5);
}

.members-list__members-name {
  margin-top: 20px;
  margin-bottom: 9px;
}

.members-list__members-position {
  margin-top: 9px;
  color: rgba(250, 250, 250, 0.7);
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.our-team__join-us-text {
  margin-top: 7.29167%;
}

.our-team__join-us-btn {
  margin-top: 1.97917%;
}

.our-works {
  text-align: center;
}

.our-works__head {
  float: left;
}

.our-works__link-see-all {
  float: right;
}

.our-works__link-see-all:after {
  content: '';
  position: relative;
  top: 2px;
  left: 0;
  display: block;
  float: right;
  width: 8px;
  margin-left: 10px;
  height: 13px;
  opacity: 0.7;
  background-image: url("../images/see-all-arrow.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.works-list {
  clear: both;
}

.our-works__elem {
  display: inline-block;
  width: 16.66667%;
}

.our-works__elem:nth-child(odd) .our-works__box {
  background-color: #acacac;
}

.our-works__elem:nth-child(even) .our-works__box {
  background-color: #8a8a8a;
}

.our-works__elem:hover .our-works__hover {
  opacity: 1;
}

.our-works__box {
  padding-bottom: 74.90637%;
  position: relative;
  overflow: hidden;
}

.our-works__img-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: calc(100% + 1px);
  overflow: hidden;
  display: table;
}

.our-works__img-inner {
  display: table-cell;
  vertical-align: middle;
}

.our-works__img {
  vertical-align: middle;
  text-align: center;
}

.our-works__img[src=""] {
  opacity: 0;
}

.our-works__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: calc(100% + 1px);
  overflow: hidden;
  display: table;
  opacity: 0;
}

.our-works__hover-inner {
  display: table-cell;
  vertical-align: middle;
}

.our-works__btn-load-more {
  margin-top: 70px;
}

.people-say {
  text-align: center;
}

.people-say-swiper-container {
  position: relative;
}

.people-say-swiper-swiper-wrapper {
  padding-bottom: 70px;
}

.people-say__quotes-quote {
  margin-top: 2.1875%;
  margin-bottom: 2.29167%;
}

.people-say__mans-name {
  margin-top: 5%;
}

.people-say__mans-position {
  margin-top: 1.14583%;
  margin-bottom: 4.6875%;
}

.people-say-swiper-button-prev, .people-say-swiper-button-next {
  width: 11px;
  height: 21px;
  top: 100%;
  top: calc(100% - 35px);
  margin-top: -10.5px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.people-say-swiper-button-prev {
  left: 50%;
  margin-left: -190px;
  background-image: url("../images/pagination-arrow-back.png");
}

.people-say-swiper-button-next {
  right: 50%;
  margin-right: -190px;
  background-image: url("../images/pagination-arrow-forward.png");
}

.people-say-swiper-pagination.swiper-pagination-bullets {
  top: 100%;
  top: calc(100% - 57.5px);
  font-size: 0;
}

.people-say-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 45px;
  height: 45px;
  margin: 0 7px;
  border: none;
}

.people-say-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  margin: 0 19px;
}

/*# sourceMappingURL=all.css.map */