.wrapper {
	max-width: 1920px;
}

.full-width-container {
	width: 100%;
	display: block;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat; // !
	&_bg-1 {
		background-image: url("../images/content/bg-section-1.jpg");
		
	}
	&_bg-2 {
		background-image: url("../images/content/bg-section-2.jpg");
		background-size: cover;
	}
	&_bg-3 {
		background-image: url("../images/content/bg-section-3.jpg");
		background-size: cover;
	}
	&_bg-4 {
		background-image: url("../images/content/bg-section-4.jpg");
		background-size: cover;
	}
	&_bg-5 {
		background-image: url("../images/content/bg-section-5.jpg");
		background-size: cover;
	}
}

.layer-cover-background {
	width: 100%;
	height: 100%;
	background: $layer-cover-background-color;
	background: -moz-linear-gradient(left, $layer-cover-background-gradient-start-color 0%, $layer-cover-background-gradient-end-color 100%);
	background: -webkit-linear-gradient(left, $layer-cover-background-gradient-start-color 0%, $layer-cover-background-gradient-end-color 100%);
	background: linear-gradient(to right, $layer-cover-background-gradient-start-color 0%, $layer-cover-background-gradient-end-color 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$layer-cover-background-gradient-start-color', endColorstr='$layer-cover-background-gradient-end-color',GradientType=1 );
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;

	&-dark {
		@extend .container;
	}
}

.section {
	padding: 70 / 960 * 100% 0;
}

.section > h2 {
	margin-top: 0;
}

.section__text-separator {
	width: 30%;
    max-width: 50px;
    margin-top: 2.1875%;
    border-bottom: 2px solid;
}

div, section, .section, header, .header, main, .main, footer, .footer{
	overflow: visible;
}

// header

.header-main {
	padding-top: 15px;
	@extend %clearfix;
}

.main-logo {
	float: left;
	@extend %clearfix;
}

.main-logo__img-holder {
	float: left;
}

.main-logo__text {
	margin-top: 4px;
	margin-left: 11px;
	margin-bottom: 0;
}

.main-navigation-holder {
	float: right;
}

.navigation__elems-holder {
	@extend %base-list-styles;
}

.navigation__elem {
	margin-right: 6px;

	&:last-child {
		margin-right: 0;
	}

	&:first-child a{
		padding-left: 0;
	}
	&:last-child a{
		padding-right: 0;
	}
}

.navigation__link {
	display: block;
	padding: 14px 9px 18px;
}

// primary-slider

.primary-swiper-container {
	overflow: hidden;
}

.primary-swiper-wrapper {
	margin-top: 16.979%;
	margin-bottom: 13.229%;
}

.primary-swiper__slide {
	text-align: center;
}

.primary-swiper__separator {
	color: $accent-color;
	border-bottom-width: 1px;
}

.primary-swiper__text {
	margin-top: 3.125%;
}

.primary-swiper__btn {
	margin-top: 5.208%;
}

.primary-swiper-pagination {
	position: relative;
	margin-bottom: 7.291%;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 3px;
	width: 10px;
	height: 10px;
	background: transparent;
	border: 1px solid $pagination-bullets-border-color;
	opacity: 1;
}

.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: $accent-color;
	border-color: $accent-color;
}

//our_story

.our_story {
	@extend %clearfix;
}

.our_story__img-holder {
	float: left;
	margin-right: 100 / 960 * 100%;
}

.our_story__text {
	margin-top: 16px;
}

.our_story__btn {
	margin-top: 31px;
}

//video-box

.video-box {
	display: table;
	width: 100%;
	height: 550px;
	max-height: 100vh;
}

.video-box__inner {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	text-align: center;
}

.video-box__play {
	width: 100px;
	height: 100px;
	border: 3px solid $text-color-light;
	padding: 0;
	border-radius: 50%;
}

.video-box__play-arrow {
	width: 100%;
	height: 100%;
	background-image: url("../images/play-video.png");
	background-size: 37% 45%;
    background-position: 55% 50%;
	background-repeat: no-repeat;
}

.video-box__head {
	font-size: 16px;
}

// features

.features {
	text-align: center;
}

.features__head {
	margin-bottom: 14px;
}

.features__separator {
	border-color: $features__separator-color;
}

.features-list {
	margin-top: 80px;
	overflow: hidden;
}

.features-list__elems-holder {
	@extend %base-list-styles;
	margin: -2px -2px;
	overflow: hidden;
} 

.features-list__elem {
	display: inline-block;
	vertical-align: top;
	width: 33.33%;
} 

.features-list__elem-box {
	height: 250px;
	margin: 1px;
	padding: 39px 10px 0;
	box-shadow: 0 0 0px 1px $features-list__border-color;
	overflow: auto;
} 

.features-list_elem__img-holder {
	max-width: 50px;
	height: 50px;
	margin: 0 auto;

	&_box-1 {
		width: 49px;
	}
	&_box-2 {
		width: 50px;
	}
	&_box-3 {
		width: 28px;
	}
	&_box-4 {
		width: 50px;
	}
	&_box-5 {
		width: 41px;
	}
	&_box-6 {
		width: 50px;
	}
}

.features-list_elem__head {
 	margin-top: 31px;
} 

.features-list_elem__desc {
	margin-top: 21px;
}

// our-team

.our-team {
	text-align: center;	
} 

.our-team__head {
	margin-bottom: 11px;
}

.our-team-separator {
	border-bottom-color: $our-team-separator-color;
}

.members-list {
	margin-top: 47px;
	overflow: hidden;
}

.members-list__elems-holder {
	@extend %base-list-styles;
	margin: 0px -10px;
}

.members-list__elem {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin-bottom: 1px;
}

.members-list__elem-box {
	margin: 0 10px;
}

.members-list__img-holder {
	position: relative;
	padding-bottom: 229 / 220 * 100%;
	background-color: $members-list__img-holder-bg-color;
}

.members-list__img {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.members-list__text-holder {
	border: 1px solid $members-list__text-holder-border-color;
}

.members-list__members-name {
	margin-top: 20px;
	margin-bottom: 9px;
}

.members-list__members-position {
	margin-top: 9px;
	color: $members-list__members-position-text-color;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

.our-team__join-us-text {
	margin-top: 70 / 960 * 100%;
}

.our-team__join-us-btn {
	margin-top: 19/ 960 * 100%;
}

// our works

.our-works {
	@extend %clearfix;
	text-align: center;
}

.our-works__head {
	float: left;
}

.our-works__link-see-all {
	float: right;
	&:after {
		content: '';
		position: relative;
		top: 2px;
		left: 0;
		display: block;
		float: right;
		width: 8px;
		margin-left: 10px;
		height: 13px;
		opacity: 0.7;
		background-image: url("../images/see-all-arrow.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
}

.works-list {
	clear: both;
}

.our-works__elems-holder {
	@extend %base-list-styles;
}

.our-works__elem {
	display: inline-block;
	width: (100% / 6);

	&:nth-child(odd) .our-works__box {
		background-color: #acacac;
	}
	&:nth-child(even) .our-works__box{
		background-color: #8a8a8a;
	}

	&:hover .our-works__hover{
		opacity: 1;
	}
}

.our-works__box {
	padding-bottom: 200 / 267 * 100%;
	position: relative;
    overflow: hidden;
}

.our-works__img-holder {
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    width: calc(100% + 1px);
    overflow: hidden;
    display: table;
}

.our-works__img-inner {
	display: table-cell;
	vertical-align: middle;
}

.our-works__img {
	vertical-align: middle;
	text-align: center;

	&[src=""] {
		opacity: 0;
	}
}

.our-works__hover {
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    width: calc(100% + 1px);
    overflow: hidden;
    display: table;
    opacity: 0;
}

.our-works__hover-inner {
	display: table-cell;
	vertical-align: middle;
}

.our-works__btn-load-more {
	margin-top: 70px;
}

// people-say

.people-say {
	text-align: center;
}

.people-say-swiper-container {
	position: relative;
}

.people-say-swiper-swiper-wrapper {
	padding-bottom: 70px;
}

.people-say__quotes-quote {
	margin-top: 21 / 960 * 100%;
	margin-bottom: 22 / 960 * 100%;
}

.people-say__mans-name {
	margin-top: 48 / 960 * 100%;
}

.people-say__mans-position {
	margin-top: 11 / 960 * 100%;
	margin-bottom: 45 / 960 * 100%;
}

%people-say-swiper-button {
	width: 11px;
	height: 21px;
 	top: 100%; // !
 	top: calc(100% - 35px);
 	margin-top: -(21px / 2);
 	background-size: 100% 100%;
 	background-repeat: no-repeat;
}

.people-say-swiper-button-prev {
	@extend %people-say-swiper-button;
	left: 50%;
	margin-left: -(380px / 2); // swiper-pagination width + btn (margin * 2)
 	background-image: url("../images/pagination-arrow-back.png");
}

.people-say-swiper-button-next {
	@extend %people-say-swiper-button;
	right: 50%;
	margin-right: -(380px / 2); // swiper-pagination width + btn( margin * 2)
 	background-image: url("../images/pagination-arrow-forward.png");
}

.people-say-swiper-pagination.swiper-pagination-bullets {
	top: 100%; // !
	top: calc(100% - 57.5px);
	// bottom: -(58 / 960 * 100%);
	font-size: 0;
}

.people-say-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
	width: 45px;
	height: 45px;
	margin: 0 7px;
	border: none;
}

.people-say-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
	transform: scale(1.5);
	margin: 0 19px;
}

// form-and-clients

.main-form-and-clients {
	@extend %clearfix;
}

.main-form {
	width: 50%;
	float: left;
}

.main-form__head {

}

.main-form__form-holder {
	margin-top: 35 / 960 * 100% * 2;
}

.main-form__form {

}

.main-form__input-holder {
	margin-top: 22 / 960 * 100% *2;
}

.main-form__input {
	width: 100%;
}

.main-form__textarea {

}

.clients {
	@extend %clearfix;
	width: 50%;
	float: right;
	padding-left: 100 / 960 * 100%;
}

.clients__head {
	
}

.lients__list-holder {
	overflow: hidden;
}

.clients__list {
	@extend %base-list-styles;
	clear: both;
	margin: 0 -10.41667%;
	margin-top: ((47 - 23) / 960 * 100% * 2);
}

.clients__elem {
	width: 50%;
	vertical-align: middle;
}

.clients__link {
	display: block;
	// margin: 23px 50px;

	padding: (47 / (960 / 2) * 100%) (70 / 960 * 100% * 2);
}

.clients__img-holder {

}

.clients__img {

}

// main-footer

.main-footer {
	font-size: 0;
}

.main-footer-boxes-holder {
	overflow: hidden;
	margin: 0 (-1.6%);
}

.main-footer-box {
	display: inline-block;
	vertical-align: top;
	width: 33.3%;
	min-width: 180px;
	// padding: 0 (10 / (960) * 100%);
	padding: 0 1.6%;
	font-size: initial;
} 
.main-footer-box-with-logo {} 
.main-footer-box-with-logo__logo-box {
	float: none;
}
.main-footer-box-with-logo__text {
	margin-top: 24px;
	// margin-top: 23 / (960 / 3) * 100%;
}

.main-footer-box-contacts {} 
.main-footer-box-contacts__head {}
.main-footer-box-contacts-wrapper {
	padding-left: 20px;
} 
.main-footer-box-contacts__contacts {
	margin-top: 38px;
	font-style: normal;
}
.main-footer-box-contacts__contacts_address {
	
}
.main-footer-box-contacts__contacts_tel {
	color: $text-color-light;
}

.main-footer-box-socials {} 
.main-footer-box-socials__head {} 
.main-footer-box-socials__subscribe-form-holder {
	margin-top: 38px;
} 
.main-footer-box-socials__subscribe-form {
	@extend %clearfix;
} 
.main-footer-box-socials__input-holder {} 
.main-footer-box-socials__input {
	height: 45px;
} 
.main-footer-box-socials__input-text-holder {
	width: 100%;
    // min-width: 610px;
    float: left;
    margin-right: -70px;
    padding-right: 80px;
} 
.main-footer-box-socials__input-holder {} 
.main-footer-box-socials__input-btn.main-footer-box-socials__input-btn {
	font-size: 0;
	width: 70px;
	float: right;
	border: 1px solid rgba(255,255,255,0);
	border-radius: 0;
	background-color: rgba(255,255,255,0.5);
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url("../images/send-btn.png");
}
.main-footer-box-socials__socials-list-holder {} 
.main-footer-box-socials__socials-list {
	@extend %base-list-styles;
} 
.main-footer-box-socials__socials-list-elem {} 
.main-footer-box-socials__socials-link {} 

.main-footer-bottom-line {
	@extend %clearfix;
	margin-top: 67 / 960 * 100%;
} 
.main-footer-bottom-line__list-holder {
	float: left;
} 
.main-footer-bottom-line__list {
	@extend %base-list-styles;
	font-size: initial;
} 
.main-footer-bottom-line__elem {

} 
.main-footer-bottom-line__link {
	padding: 0 16px;
	color: $text-color-light;
} 

.main-footer-bottom-line__copyright {
	margin: 0;
	float: right;
} 
.main-footer-bottom-line__copyright-link {
	color: $text-color-light;
} 